<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Smick Studio</title>
        <%= stylesheet_link_tag 'application' %>
        <%= javascript_include_tag 'application' %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body class="tk-proxima-nova">
        <div class="container-fluid">
            <header>
                <a class="hlink" href="/">
                <h1 class="tk-gastromond">Darkroom</h1>
                </a>
                <h2 class="tk-proxima-nova">Channels</h2>
            </header>
            <%= yield %>
        </div>
        <script>
          (function(d) {
            var config = {
              kitId: 'tqy7ezh',
              scriptTimeout: 3000,
              async: true
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>
    </body>
</html>